.search-city {
	background: rgba($color: #000000, $alpha: .8);
	border-radius: 55px;
	height: 357px;
	width: 760px;
	display: flex;
	flex-direction: column;
	align-items: center;

	.social-connect {
		margin-top: 138px;
	}
}